*{
    padding: 5px;
    background-color: beige;
    /* border: 10px; */
    /* font-style: italic; */
}

.heading{
    color: blueviolet;
}

.button{
    background-color: aquamarine;
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
}

.table{
    border: 10px;
    border-color: rgb(212, 22, 101);
    border-style: dashed;
    text-align: center;
    font-size: 50px;
}